
.idea/

Region_Community/.classpath

Region_Community/.project

Region_Community/pom.xml

Region_Community/project.iml

Region_Community/Resion_Community.iml

Region_Community/target/

Region_Community/src/main/webapp/resources/
